div {
	width: 600px;
	
	border-top: 5px solid red;
	border-right: 2px solid black;
	border-bottom: 2px solid green;
	border-left: 5px solid blue;
	
	border: 5px dotted blue;
	border: 5px dashed blue;
	border: 5px groove blue;
	border: 5px ridge blue;
	
}
