ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul li a {
	display: block; /* transforma o a em bloco, para quando passar o mouse, tudo mudar */
	float: left; /* coloca um item ao lado do outro */
	padding: 5px; /* espa�amento entre os itens */
	border: 5px groove black;
	text-decoration: none;
	color: black;
}

ul li a:hover {
	background: #5ac8ff;
	color: white;
}
